* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th {
    height: 70px;
}

td {
    text-align: center;
}

thead {
    background-color: lightgrey;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #333;
    color: white;
}

tbody tr:hover {
    background-color: lightblue;
}

.text-left {
    text-align: left;
}

ul {
    background-color: lightblue;
    width: 500px;
}

ul li {
    background-color: #cc35ff;
    color: darkblue;
}
