body {
    background-color: lightgrey;
}

.container {
    border: 1px solid black;
    width: 80%;
}

.container-fluid {
    border: 1px solid black; width: 95%;
}
.bg-dark {
    background-color: black;
}

.aueb-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: yellow;
}

/* Background colors */
.bg-primary {
    background-color: blue;
}

/* Font colors */
.text-white {
    color: white;
}

.text-beige {
    color: beige;
}

/* Image styling */
.icon-small {
    width: 150px;
    height: auto;
}

/* List styling */
/* .courses-wrapper {
    background-color: aquamarine;
} */

.course-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
}

/* Selectors */
ul > :first-child {
    background-color: yellow;
    font-weight: bold;
}

ul > :nth-child(3) {
    background-color: green;
    font-weight: bold;
}

ul > :nth-child(odd) {
    text-decoration: underline;
}

ul > :nth-child(even) {
    text-decoration: line-through;
}

.container > h2:first-of-type {
    font-size: 2rem;
}

.container > p:nth-of-type(2) {
    font-size: 2rem;
}

    