* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 20px;
}

/* margins */
.mt-20 {
    margin-top: 20px;
}

/* paddings */
.p-10 {
    padding: 10px;
}

/* fieldset */
fieldset {
    width: 250px;
    margin-left: 150px;
    padding: 10px ;
}

/* form styling */

input {
    width: 250px;
}

label span {
    display: inline-block; 
    width: 130px;
    /* border: 1px solid black; */
    text-align: right;
}

