.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    text-align: justify;
    border: 1px solid black;
}

h1 + p {
    color: blue;
}

img ~ p {
    background-color: lightgray;

}

a {
    border: 1px solid red;
}

p {
    border: 1px solid green;
}

a::before {
    content:'\1F604';
}

a::after {
    content:'\1F605';
}

a[href='#']:hover {
    background-color: pink;
}

/* select all elements that class start with info */
*[class^="info"] {
    font-style: oblique;
}

/* select all elements that class includes the word text */
*[class*="text"] {
    font-size: large;
}

/* select all element that class ends with title */
*[class$="title"] {
    text-decoration: double;
}